/* Configuração do corpo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f4ff;
  }
  
  /* Estilização do cartão */
  .card {
    background: rgba(37, 88, 243, 0.656);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
  }
  
  /* QR Code */
  .card .qr-code {
    margin: 20px auto;
    margin-left: 50px;
  }
  
  /* Título */
  .card h2 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Texto */
  .card p {
    font-size: 18px;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
  }
  